#account_nav,
#account_nav > ul > li {
  background: transparent;
}
.acc-dropdown > .menu,
.timeline-menu {
  background-color: #3c4357;
}

#account_nav.sticky > ul > li {
  background-color: transparent;
}

#account_nav.sticky {
  /* background: linear-gradient(90deg, #656f85 -2.5%, #414861 101.17%) !important; */
  background: rgb(59 66 86 / 68%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

#account_nav > ul > li.cur,
#account_nav > ul > li:not(.static):hover,
.acc-dropdown > .menu > li > a:hover,
.timeline-menu__items li a:hover {
  background-color: rgba(0, 0, 0, 0.15) !important;
  border-radius: 5px;
}

.acc-dropdown > .toggle::after {
  border-color: #9291ab transparent transparent;
}

#account_nav > ul > li.cur > a {
  background: none;
}

.header__container {
  height: 58px;
  max-width: 1166px;
  /* padding-top: 2px; */
}

#company_switcher {
  margin-right: 33px !important;
}
#account_nav > ul {
  max-width: 1200px;
  min-width: 1200px;
}

html {
  background: #3c4357;
}

body {
  font-family: "Euclid Circular A", arial;
  background: linear-gradient(90deg, #5c657a -2.5%, #363c52 101.17%) !important;
}

.header,
.footer {
  background: none;
}

.preDefinedReports,
.manageSavedReports {
  border-color: #9291ab;
}

#page_inner {
  background: transparent;
  background-color: none;
  /* background: radial-gradient(ellipse at top, #8c99a2, #b0b9c1),
    radial-gradient(ellipse at bottom, #b0b9c1, transparent); */
}

div#content_wrapper_inner {
  border-radius: 5px;
  overflow: hidden;
}

div#content_wrapper {
  border-radius: 0;
  border: none;
  width: 1134px;
  min-height: 70vh;
  margin-top: 10px;
}
div#page_title {
  border-radius: 0;
  background: #bec3ce;
  /* #ccd8e0; */
}

table.empls > tbody > tr > * {
  border-bottom: 1px dotted #aaa;
}

.timeline-screen > div > .image {
  width: 335px;
}
.timeline-screen > div > .image > img {
  width: 333px;
}

.toast-message {
  background: #394054;
  border-radius: 5px;
}
